.login {
  height: 100vh;
  background-color: rgb(193, 190, 255);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    display: flex;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.4), rgba(39, 11, 96, 0.5)),
        url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 35px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p {
        font-size: 13px;
      }

      span {
        font-size: 16px;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(102, 51, 153);
        font-weight: 600;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        &::after {
          content: "Create Your account !!";
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: rgba(102, 51, 153, 0.951);
          color: white;
          border-radius: 5px;
          transition: 0.3s linear;
        }

        &:hover::after {
          left: 0;
          transition: 0.3s linear;
        }
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          margin-top: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          justify-items: center;
          border-radius: 5px;
          cursor: pointer;
          font-size: 15px;
          transition: 0.2s linear;
          
          &:hover{
            transform: translateX(12px);
            transition: 0.4s linear;
          }
        }
      }
    }
  }
}
